$radius: 10px;

.cards {
    border: 2px solid #6c757d;
    border-radius: $radius;
    width: 70%;
}

.img {
    border-radius: $radius $radius 0 0;
}

.imgDetailed {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin-left: 87%;
    width: 25px;
    height: 25px;
}

.btnDetail {
    margin-left: auto;
    margin-right: auto;
    width: 35px;
    height: 35px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin-top: 30px;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}